<template name="createKhanvo">
	<form role="form">
	  <div class="form-group">
	    <label for="khanvoName">Khanvo Name</label>
	    <input type="text" name="khanvoName" value="" placeholder="Name your Khanvo">
	  </div>
	  <div class="form-group">
	    <label for="description">Khanvo Description</label>
	    <input type="text" name="description" value="" placeholder="Describe your Khanvo">
	  </div>
  	  <button type="submit" class="btn btn-default">Submit</button>
	</form>
</template>

<!--class="form-control" for both name and description-->